body {
    font-family: "Exo 2", sans-serif;
    background-color: #874f41;
    color: white;
}

.navbar {
    background: #244855;
    margin-bottom: 10px;
}
.navbar-brand, .nav-link {
    color: white;
}

.navbar-brand:hover, .nav-link:hover {
    color: #fbe9d0;
}

.navbar-brand:visited, .nav-link:hover {
    color: white;
}

.form-control, .form-control:focus {
    background-color: #90AEAD;
    border: none;
}

.btn {
    background-color: #ed4833;
}

.btn:hover {
    background-color: #244855;
}

#add-task {
    width: 30px;
    height: 30px;
    margin-left: 30px;
}

.task-details {
    margin-left: 20px;
    font-size: 12px;
}

.list-group-item {
    background-color: #90AEAD;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-updates-images {
    height: 25px;
    width: 25px;
}

.edit {
    margin-right: 5px;
}

.delete {
    margin-left: 5px;
}

a {
    text-decoration: none;
}

form{
    display: inline;
}

button {
    background-color: #90AEAD;
    border: none;
}

.username {
    display: grid;
}

.username-display {
    display: flex;
    justify-content: center;
}

.change-username {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease;
}

.change-username.show {
    display: flex;
    justify-content: center;
    opacity: 1;
    height: auto;
}

#edit-username-img {
    background-color: #874f41;
    width: 10px;
    height: 10px;
}

.date {
    margin-top: 10px;
}

.change-username-load {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}