{% extends 'layout.html' %}


{% block title %}
    Home
{% endblock title %}


{% block heading %}

    <!-- username display field -->
    <div class="username">
        <div class="username-display">
            <p>{{ user.username }}</p>
            
            <!-- edit button -->
            <button id="edit-username-img" >
                <img src="/static/images/pen-fill.svg" alt="edit username">
            </button>
        </div>

        <!-- change username form -->
        <div class="change-username">
            <form action="/change_username" method="post" class="row g-2">
                <div class="col-auto">
                    <input type="text" name="new_username" class="form-control" id="new-username-field" placeholder="New Username">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn mb-3">Change Username</button>
                </div>
        </form>
        </div>
    </div>

    <!-- add task button -->
    <h1>Tasks <a href="/add_task"><img id="add-task" src="/static/images/plus-circle.svg" alt="Add Task"></a></h1>

{% endblock heading %}    


{% block content %}

    <!-- task list -->
    <ul class="list-group list-group-flush">

        {% for date in task_dict %}

            <h5 class="date">{{ date }}</h5>

            
            {% for data in task_dict[date] %}

                <li class="list-group-item">
                    <b>{{ data["name"] }}</b> 
                    <span class="task-details"><i>{{ data["time"] }} | {{ data["date"] }}</i></span>

                    <!-- edit and delete task buttons -->
                    <span task-updates>
                        <form method="get" action="/edit_task/{{ data['id'] }}">
                            <input type="hidden" name="id" value="{{ data['id'] }}">
                            <button type="submit">
                                <img class="task-updates-images edit" src="/static/images/pencil-square.svg" alt="edit task">
                            </button>
                        </form>
                        <form method="post" action="/delete_task">
                            <input type="hidden" name="id" value="{{ data['id'] }}">
                            <button type="submit">
                                <img class="task-updates-images delete" src="/static/images/trash3-fill.svg" alt=" delete task">
                            </button>
                        </form>
                    </span>
                </li>
                
            {% endfor %}
            
        {% endfor %}

    </ul>

{% endblock content %}


{% block script %}
    
    <!-- javascript to toggle edit username form -->
    <script>
        function toggleEditUsernameField() {
            var editUsernameButton = document.getElementById('edit-username-img');
            var changeUsernameForm = document.querySelector('.change-username');
            
            editUsernameButton.addEventListener("click", function(){
                if (changeUsernameForm.classList.contains('show')) {
                    changeUsernameForm.classList.remove('show');
                } else {
                    changeUsernameForm.classList.add('show');
                }
            })
        }

        toggleEditUsernameField()
    </script>

{% endblock script %}
    
    
    