{% extends 'layout.html' %}


{% block title %}
    Login
{% endblock title %}



{% block heading %}
    <h1>Login</h1>
{% endblock heading %}
    


{% block content %}

    <form method="post" action="/login">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input name="email" autofocus type="email" class="form-control" id="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="password">
        </div>
        <button type="submit" class="btn">Login</button>
    </form>

{% endblock content %}
    
    